torch
torchvision
torchaudio
mediapipe
opencv-python
numpy
pandas
scikit-learn
matplotlib
seaborn
streamlit
Pillow
plotly

# Cài đặt: pip install -r requirements.txt
# Python: 3.11
# Lưu ý mediapipe: pip install mediapipe==0.10.9 protobuf==3.20.3